#weekly-table

script#weekly-table-template(type='text/template')
	#choose-year
		label(name='year-picker') Choose year
			select#year-picker(name='year-picker')


	- { for(var i = 1;i<=53;i++) 
		div.weekly-table-week(id='weekly-table-week#{i}',data-week-number='#{i}')
			div.column.weekly-table-segment.weekly-table-week-number(data-week='#{i}') Week #{i}
			div.column.weekly-table-segment.weekly-table-day(data-day='#{1 + 7 * (i - 1)}') Sunday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{2 + 7 * (i - 1)}') Monday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{3 + 7 * (i - 1)}') Tuesday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{4 + 7 * (i - 1)}') Wednesday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{5 + 7 * (i - 1)}') Thursday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{6 + 7 * (i - 1)}') Friday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-day(data-day='#{7 + 7 * (i - 1)}') Saturday
				div.date
				div.workout-data
			div.column.weekly-table-segment.weekly-table-week-total Weekly Totals
				div.duration-total
			div.clear
	- }

script#calendar-workout-item-template(type='text/template')
	span.calendar-workout-item(class='workout-type-<%= workout_type %>',data-workout-type="<%= workout_type %>",data-workout-duration='<%= workout_duration %>') <%= workout_type %>, <%= workout_duration %>hrs