h5 Hello, #{user.username}
#weekly-table
	- { for(var i = 1;i<=52;i++) 
		div.weekly-table-week(id='weekly-table-week#{i}')
			div.column.weekly-table-segment.weekly-table-week-number(data-week='#{i}') Week #{i}
			div.column.weekly-table-segment.weekly-table-day(data-day='#{1 + 7 * (i - 1)}') Sunday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{2 + 7 * (i - 1)}') Monday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{3 + 7 * (i - 1)}') Tuesday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{4 + 7 * (i - 1)}') Wednesday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{5 + 7 * (i - 1)}') Thursday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{6 + 7 * (i - 1)}') Friday
			div.column.weekly-table-segment.weekly-table-day(data-day='#{7 + 7 * (i - 1)}') Saturday
			div.column.weekly-table-segment.weekly-table-week-total Weekly Totals
			div.clear
	- }

#day-options
	#day-options-close
		button.close-button.right close x

	div.column#day-options-navigation nav

	div.column#day-options-control control panel
